.form-border {
  border: 1px solid gray;
  border-radius: 10px;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-title {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
}

.form-title h2 {
  font-size: 32px;
}

.form-title h3 {
  font-size: 18px;
  font-weight: bold;
}

.email-birthday-section {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
}

.basic-card-info {
  display: grid;
  grid-template-columns: 300px 1fr 200px;
}

.auth-card-info {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
}

.card-expiration-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
  .email-birthday-section, .auth-card-info, .basic-card-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 350px) {
  .card-expiration-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
